<!DOCTYPE html>
<html lang="en" style="background-color:#141414">

  <h1 style="color: #fff">Check the browser console.</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>

      async function getScooters() {
        try {
          const query = `
            query {
              scooters {
                _id
              }
            }
          `;

          const response = await fetch('http://localhost:8585/graphql/scooters', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              query: query,
            }),
          });

          if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
          }
        
          const json = await response.json();

          console.log('All scooter IDs: ', json);
        } catch (error) {
          console.error(error.message);
        }
      }

      async function getScooter(scooterId) {
        try {
          const query = `
            query {
              scooter(_id: "${scooterId}") {
                _id
                status
                speed
                battery_level
                current_location {
                  type
                  coordinates
                }
                at_station
                designated_parking
              }
            }
          `;

          const response = await fetch('http://localhost:8585/graphql/scooters', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              query: query,
            }),
          });

          if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
          }
        
          const json = await response.json();

          console.log('Single scooter: ', json);
        } catch (error) {
          console.error(error.message);
        }
      }

      getScooters()
      getScooter("6765d9967dfce3a5b7477ca4");

    </script>


  </body>
</html>